@use "colors" as colors;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style {
  background-color: map-get(colors.$colors, "primary-font");
  padding: 16px 24px;
  border-radius: 12px;
  color: map-get(colors.$colors, "select-font");
  border: none;
  width: 79px;
  height: 48px;
}

@mixin view-button {
  @include button-style;
  width: 18px;
  background-color: map-get(colors.$colors, "view");
  height: 12px;
  padding: 18px 15px 18px 15px;
}

@mixin edit-button {
  @include button-style;
  width: 18px;
  height: 24px;
  padding: 12px 14px 12px 16px;
  background-color: map-get(colors.$colors, "edit");
}

@mixin delete-button {
  @include button-style;
  width: 18px;
  background-color: map-get(colors.$colors, "delete");
  height: 18px;
  padding: 15px;
}
